$primary-color: #cc092f;
$secondary-color: #b81570;
$white-color: #ffffff;
$text-color: white;
$overlay-bg: rgba(0, 0, 0, 0.5);


.gradient-header {
  background-image: linear-gradient(90deg, $primary-color 40%, $secondary-color 90%);
  color: $text-color;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;


  &.scrolled {
    padding: 10px;
    font-size: 0.9em;
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }
}


.content {
  margin-top: 80px;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
  top: 0;
  left: 0;
  right: 0;


  @media (max-width: 768px) {
    margin-top: 70px;
    padding: 12px;
  }

  @media (max-width: 480px) {
    margin-top: 65px;
    padding: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $overlay-bg;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}